@import "../../assets/style/var.scss";

.login-signup {
  height: 100vh;
  background: url(../../assets/image/bgrLogin.png) no-repeat center / cover;
  background-size: 350px 900px;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.form__container {
  position: relative;
  animation: mymove 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  // background-color: rgba(255, 255, 255, 0.25);
  // border-radius: 24px;
  // backdrop-filter: blur(24px);
  padding-right: 64px;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  .error {
    color: red;
  }
}

@keyframes mymove {
  from {left: -500px;}
  to {left: 0;}
}