@import "../../../assets/style/var.scss";

.navbar {
  position: relative;
  background-color: #f8f9fa;
  margin: 32px 0;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;

  ul {
    color: #6e6e73 !important;
  }

  .select {
    display: none;
    margin: 0;
    padding: 30px 0 0 0;
    position: absolute;
    top: 43px;
    right: 0;
    list-style: none;
    width: 100%;
    background-color: #f8f9fa;
    overflow: hidden;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    span {
      padding: 10px;
      color: #6e6e73;
      font-size: small;
    }
    .item {
      padding: 8px 10px;
      font-weight: 300;
      font-size: 24px;
      &:hover {
        // background-color: #f1f1f1;
      }
    }
  }
  .nav__logo {
    height: 32px;
    cursor: pointer;
    margin-bottom: 8px;
  }

  .btn {
    background-color: $primary-color;
    color: $white-color;
  }

  .auth {
    // position: relative;
    cursor: pointer;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 50%;
    //   height: 56px;
    //   z-index: 1;
    // }

    &:hover .select {
      display: block;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav__avt {
      width: 38px;
      height: 38px;
      object-fit: cover;
    }
  }
}
.weather {
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  padding: 24px;
  height: 64px;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  img {
    width: 50px;
    height: 50px;
  }
}

@keyframes mymove {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
